p {
    font: 400 40px/1.3 'VT323';
    color: #2f2b2b;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    text-align:center;
    margin:0 0 0 0;
}
h2 {
    font: 400 100px/1.3 'VT323', Helvetica, sans-serif;
    color: #2f2b2b;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    text-align:center;
    width:100%;
    Background-color:white;
    margin:0 0 0 0;
}
body {
    text-align: center;
}

a {
    text-decoration:none;
}